<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!userlogin">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/groups">Groups</a>
      </li>
      <li class="nav-item" *ngIf="system_role == 'Super_Admin' || system_role == 'Group_Admin'">
        <a class="nav-link" routerLink="/createuser">Create User</a>
      </li>
      <li class="nav-item" *ngIf="system_role == 'Super_Admin'">
        <a class="nav-link" routerLink="/users">All Users</a>
      </li>
      <li class="nav-item" *ngIf="userlogin">
        <a class="nav-link" href = "/" (click)="logout()">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>
 <div class="container">
 <router-outlet></router-outlet>
 </div>

