<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-10">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Create User</h3>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" [(ngModel)]="email" name = "email" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <select class="form-select" [(ngModel)]="system_role" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="Member">Member</option>
                <option value="Group_Assis">Group Assistant</option>
                <option value="Group_Admin">Group Admin</option>
                <option value="Super_Admin">Super Admin</option>
              </select>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" [(ngModel)]="password" name = "password"/>
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <button class="btn btn-primary btn-lg btn-block" (click)="createUser(email,password,system_role)" type="submit">Create User</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
